JELLYFIN_URL=http://localhost:8096
JELLYFIN_KEY=
SEERR_URL=http://localhost:5055
SEERR_KEY=
PROWLARR_URL=http://localhost:9696
PROWLARR_KEY=
RADARR_URL=http://localhost:7878
RADARR_KEY=
SONARR_URL=http://localhost:8989
SONARR_KEY=
LIDARR_URL=http://localhost:8686 #optional uncomment in app.py if wanted
LIDARR_KEY=
BAZARR_URL=http://localhost:6767 #optional uncomment in app.py if wanted
BAZARR_KEY=
OPENWEBUI_URL=http://localhost:3000
QBITTORRENT_URL=http://localhost:8080
QBITTORRENT_KEY=
IMMICH_URL=http://localhost:2283
IMMICH_KEY=